= render 'shared/stages_navigation'

//= render 'match_headline'

= render :partial => 'match_form'

= image_tag "countries/germany-flag.png"
= link_to "foto", File.join(root_path,"assets/countries/germany.png"), id: "single_image"
