/*
 * = require fancybox
 */

@import "compass"
@import "compass/reset"
@import "solarized"

$blueprint_grid_columns: 24
$blueprint_grid_width: 40px

@import "blueprint"

$icon-margin: 3px

$countries-sprite-dimensions: true
$countries-sprite-base-class: "icon-countries"
@import "countries/*.png"
+all-countries-sprites
$country-height: countries-sprite-height(sweden-icon)
$country-width: countries-sprite-width(sweden-icon)

=icons($height, $width, $margin: $icon-margin)
  display: inline-block
  width: $width
  height: $height
  line-height: $height
  vertical-align: middle
  margin: $margin

=font-default
  font-family: Verdana
  font-size: 1em
  line-height: 1.5em
  font-weight: normal
  font-style: normal

h2
  font-size: 1.7em

h3
  font-size: 1.4em

h4
  font-size: 1.2em

+blueprint-form


html, body
  +rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)
  +font-default

i[class^=countries]
  +icons($country-height, 20px)

$table-base-padding: 5px
=stripped-table
  //+alternating-rows-and-columns(#fff,$yellow,#000)
  thead
    border-bottom: 2px solid #000
    margin-bottom: 2px
  th
    font-weight: bold
    padding: $table-base-padding
    padding-bottom: $table-base-padding * 1.5
  tbody
    margin-top: 2px
  td
    padding: $table-base-padding

#content
  +container
  //+showgrid
  #header, #footer
    +column($blueprint_grid_columns,true)
  #nav
    +column($blueprint_grid_columns,true)
    ul
      +float-right
      +delimited-list(" •")
  #main
    +column($blueprint_grid_columns - 2,true)
    +push(1)

#header 
  +accentize($cyan)
  +background-image(linear-gradient(right center,$base02,$base3))
  border-bottom: 3px solid $red
  +single-box-shadow
  h1
    font-family: Helvetica, sans
    font-size: 2em
    font-weight: bold
    margin: 20px 10px
  

//#stages_nav
#cup_nav
  a
    +border-radius(6px)
    border: 1px solid $base2
    background-color: $cyan
    color: $base3
    text-decoration: none
    padding: 4px 10px
    display: inline-block
    +single-text-shadow
    +background-image(linear-gradient(right center, $cyan, lighten($cyan, 5%)))
  ul
    +horizontal-list
    padding: 2px
  .current a
    background-color: $orange
  & > li:first-child a
    font-size: 1.8em
    line-height: 1em
  & #stages_nav li a
    font-size: 1.4em
    line-height: 1em
  & #in_stages_nav li a
    font-size: 1.2em
    line-height: 1em




table#matches
  width: span($blueprint_grid_columns - 2)
  +stripped-table
  td, th
    padding: $table-base-padding
    &:nth-child(1), &:nth-child(2)
      width: span(2)
    &:nth-child(4)
      text-align: right
      width: span(5)
    &:nth-child(5)
      padding: $table-base-padding 0px 
      width: span(1.5)
      text-align: center
    &:nth-child(6)
      padding: $table-base-padding 0px
      width: span(5)
    &:last-child
      text-align: right

table#standings
  width: span($blueprint_grid_columns - 2)
  +stripped-table


table#match
  margin: auto
  width: 400px
  td
    padding: $table-base-padding
    width: 200px
    &:first-child
      text-align: right
    &:last-child
      text-align: left
  input.numeric
    width: 25px
  tr:first-child td
    vertical-align: top
  tr:last-child td
    text-align: center

.winner
  background-color: green

#fancybox-outer
  background-color: $base3
